.navbar{
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #333;
    padding: 0 20px;
    height: 60px;
    color: white;
    
}

.navbar-logo{
    font-family: 'Brush Script MT' cursive;
    font-size: 24px;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}
.nav-links a:hover{
    color: #ffa500;
}
.nav-icon{
    color: white;
    cursor: pointer;
    position: relative;
}
.order-button{
    background-color: #ffa500;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}
.order-button:hover{
    background-color: #df9711;
}
.mobile-menu-icon{
    /*display: none;*/
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

@media (max-width:768px) {
    .nav-links{
        display: none; 
    }
}
.nav-links-mobile{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    align-items: center;
    margin-bottom: 10px;
    z-index: 1;
}
.mobile-menu-icon{
    display: flex;
    align-items: center;
}
.nav-links-mobile a{
    color: white;
    text-decoration: none;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}
.nav-icon{
    margin-bottom: 10px;
}
.nav-links-mobile a:hover{
    background-color: #444;
}
.order-button{
    margin-top: 10px;
}